<!-- Footer -->
<footer id="footer" class="container">
  <div class="footer-items">
    <div class="logo">
      <a href="/" class="nomargin"><img src="{{ "/assets/images/logo.png" | relative_url }}" width="128"></a>
    </div>
    <ul>
      <li><a href="/about-us/">About us</a></li>
      <li><a href="/calendars/">All calendars</a></li>
      <!-- <li><a href="">Legale</a></li> -->
    </ul>
    <div class="v-center">
      <a class="btn btn-primary" href="#">Contact us</a>
    </div>
  </div>
</footer>
