<!DOCTYPE html>
<html amp lang="en">

{% include head.html %}

<body>
  <header id="hero">
    <div class="text">
      <div class="logo">
        <a href="/" class="nomargin"><img src="{{ "/assets/images/logo.png" | relative_url }}" width="128"></a>
      </div>
      <div class="slogan">
        <h1>Your favorite<br>esports team <span class="primary-color">calendar</span></h1>
      </div>
      <div class="cta">
        <a class="btn btn-primary btn-big" href="#">create my team calendar <img src="{{ "/assets/images/calendar.png" | relative_url }}" width="32" height="32"/></a>
      </div>
      <div>
        <p class="subtitle">Automatically synced with Google Calendar</p>
      </div>
      <div class="calendar-list">
        <ul class="teams-list">
          <li><a><img src="{{ "/assets/images/teams/Vitality.png" | relative_url }}" width="56" alt="Vitality logo" title="Vitality"></a></li>
          <li><a><img src="{{ "/assets/images/teams/Astralis.png" | relative_url }}" width="56" alt="Astralis logo" title="Astralis"></a></li>
          <li><a><img src="{{ "/assets/images/teams/Cloud9.png" | relative_url }}" width="56" alt="Cloud 9 logo" title="Cloud 9"></a></li>
          <li><a><img src="{{ "/assets/images/teams/MadLions.png" | relative_url }}" width="56" alt="MadLions logo" title="MadLions"></a></li>
          <li><a><img src="{{ "/assets/images/teams/100Thieves.png" | relative_url }}" width="56" alt="100Thieves logo" title="100Thieves"></a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <section id="edito" class="container">
      <div class="col-2">
        <div class="row-1">
          <img class="img-responsive center" src="{{ "/assets/images/edito.png" | relative_url }}" width="350" alt="Edito" />
        </div>
        <div class="row-2 v-center">
          <h2>Don’t ever miss an event of your favorite team</h2>
          <p class="subline">Follow your favorite team(s) events and games by simply find your team's Google calendar. If they don't provide a public one, you can easily create one with other fans. This is simply the easiest way to follow all of your team events.</p>
          <p class="subline">You can customize it here and share it with the world!</p>
          <p class="subline">You're welcome to give your feedbacks. We want to hear from other fan the best way to follow their favorite teams.</p>
        </div>
      </div>
    </section>
    <section id="calendars">
      <div class="container">
        <div class="col-2">
          <h2 class="dark-color">Popular calendars</h2>
          <div class="v-center">
            <a class="btn btn-outline-primary" href="/calendars/">See all calendars <img src="{{ "/assets/images/arrow-forward-red.png" | relative_url }}" width="8" height="12" /></a>
          </div>
        </div>
        <div class="cards">
          {% include components/cards-calendar.html 
            image = "/assets/images/teams/Vitality.png"
            title = "Vitality"
            url = "/vitality"
          %}
          {% include components/cards-calendar.html 
            image = "/assets/images/teams/Cloud9.png"
            title = "Cloud9"
            url = "#"
          %}
          {% include components/cards-calendar.html 
            image = "/assets/images/teams/100Thieves.png"
            title = "100Thieves"
            url = "#"
          %}
          {% include components/cards-calendar.html 
            image = "/assets/images/teams/MadLions.png"
            title = "MadLions"
            url = "#"
          %}
        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}
</body>

</html>